@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

*
{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0F0823;
    list-style: none;
    color: white;
    font-family: 'Play', 'sans-serif';
    overflow-x: hidden;
}

nav
{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20px;  
    width: 100vw; 
    z-index: 100; 
    background-color: transparent;
}

#nav-menu
{
    display: flex;
    margin: 8px auto;
    background-color: transparent;
}

#nav-menu ul
{
    display: flex;
    flex-direction: row;  
    margin-bottom: 0;  
    padding-left: 0;
    background-color: transparent;
}

#nav-menu ul li
{
    margin-left: 25px;
    margin-right: 25px;
    background-color: transparent;
}

#nav-menu ul li a
{
    text-decoration: none;
    color: white;
    font-size: 22px;
    background-color: transparent;
}

#logo
{
    font-size: 30px;
    margin-left: 35px;
    position: absolute;
    background-color: transparent;
}

/* main
{
    position: relative;
    z-index: -1;
} */

#name_assets
{
    padding-top: 280px;
    padding-bottom: 150px;    
}

#name_discription
{
    position: relative;
    max-width: 1240px;
    margin: auto;
    z-index: 2;
    background-color: transparent;
}

#grid
{
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    grid-column-gap: 15px;
    background-color: transparent;
}

#name_discription_column
{
    background-color: transparent;
}

#name_discription_column h1
{
    font-size: 62px;
    font-family: 'Special Elite', 'cursive';
    margin-bottom: 0;
    background-color: transparent;
}

#name_discription_column p
{
    font-size: 20px;
    background-color: transparent;
}

#name_discription_column button
{    
    border: none;
    padding: 10px 45px;
    font-size: 20px;
    border-radius: 40px;
}

#button-container
{
    display: inline-block;
    padding: 0.2rem;
    border-radius: 60px;
    background-image: linear-gradient(60deg,#edb8ff,#6148ff);
}

#asset1
{
    position: absolute;
    right: -18%;
    top: -92%;
    opacity: 1;
    z-index: 0;
}

#asset2
{
    height: 230px;
    width: 230px;
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 0;
    opacity: 1;
    background-color: transparent;
}

#asset3
{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 64%;
    right: 22%;
    z-index: 0;
    opacity: 1;
    background-color: transparent;
}

#image_intro
{
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    z-index: 5;
}

#image_intro_container
{
    max-width: 1150px;
    margin: auto;
    position: relative;
    overflow: visible;
    background: transparent;
}

#image_intro_container_grid
{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    overflow: visible;
    background: transparent;
}

#image_section
{
    position: relative;
    justify-self: center;
    height: 490px;
    display: grid;
    align-items: center;
    overflow: visible;
    background: transparent;
}

#profile_image
{
    border-radius: 52px;
    transform: rotateZ(5deg) scale3d(1,1,1);
    max-width: 90%;
    margin: 0px auto;  
    position: relative;  
    z-index: 2;
    box-shadow: 0px 20px 55px 0 rgb(0 0 0 / 90%);
}

#img-background-div
{
    height: 94%;
    position: absolute;
    width: 91%;
    z-index: 0;
    background-color: brown;
    border-radius: 65px;
    left: 4.5%;
    transform: rotateZ(-5deg) scale3d(1,1,1);
    background-image: linear-gradient(125deg,#e69240,#38415c,#02323b);
}

#asset4
{
    position: absolute;
    z-index: 3;
    background: transparent;
    height: 200px;
    width: 200px;
    top: -20%;
    left: -14%;
    bottom: auto;
    right: auto;
    opacity: 1;
}

#intro
{
    background: transparent;
}

#intro h1
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 3.5rem;
    background: transparent;
}

#intro p
{
   font-size: 1.6rem;
   background: transparent;
}

#asset5
{
    height: 180px;
    width: 180px;
    position: absolute;
    right: 15%;
    bottom: 12%;
    left: auto;
    top: auto;
    background: transparent;
    z-index: 2;
}

#asset6
{
    max-width: 600px;
    position: absolute;
    top: 9%;
    left: -2%;
    z-index: -1;
    background: transparent;
}

#projects
{
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

#projects_container
{
    position: relative;
    max-width: 1100px;
    margin: auto;
}

#projects_container h1
{
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.06rem;
    margin-bottom: 0;
}

#underline
{
    width: 650px;
    height: 5px;
    margin: auto;
    background-color: #6557d9;
    /* alternative color for underline
    #4e3beb
    #6a5aed */
    margin-top: 8px;
    border-radius: 20px;
}

#projects_container_grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding-top: 80px;
}

.project-card
{
    height: 580px;
    width: 350px;
    padding: 4px;
    border-radius: 20px;
    margin: auto;
}

#card1
{    
    background-image: linear-gradient(60deg,#9278dc,#8355e9);
}

#card2
{
    background-image: linear-gradient(60deg,#a35eb5,#fcad6b);
}

#card3
{
    background-image: linear-gradient(60deg,#871dfc,#e448f1);
}

.card-container
{
    height: 572px;
    border-radius: 15px;
}

#card-container1
{
    background-color: #48327f;
}

#card-container2
{
    background-color: #903581;
}

#card-container3
{
    background-color: #592e6a;
}

.project-img-bg-div
{
    height: 240px;
    width: 315px;
    margin: 18px auto;
    border-radius: 12px;
    padding: 3px;
}

#project-img-bg-div1
{
    background-image: linear-gradient(60deg,#95b3f3,#6768b3,#93baf9);
    box-shadow: 3px -3px 7px 0px rgb(147 186 249 / 80%);
}

#project-img-bg-div2
{
    background-image: linear-gradient(60deg,#b13e9e,#b0566a,#fcc398);
    box-shadow: 3px -3px 7px 0px rgb(252 195 152 / 80%);
}

#project-img-bg-div3
{
    background-image: linear-gradient(60deg,#c89bee,#9f6acd,#fb9399);
    box-shadow: 3px -3px 7px 0px rgb(251 147 153 / 80%);
}

.project-img
{
    height: 234px;
    width: 309px;
    border-radius: 9px;
}

.project-title
{
    background: transparent;
}

.project-title h2
{
    background: transparent;
    text-align: center;
}

.project-discription
{
    background: transparent;
    text-align: justify;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    font-size: 1.05rem;
}

.github-link
{
    background-color: transparent;
    margin: 0.5rem 1rem;
    position: absolute;
    bottom: 0;
}

.github-link h4
{
    background-color: transparent;
    margin-bottom: 0;
}

.github-link a
{
    background-color: transparent;
    color: #0F0823;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}






