*
{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0F0823;
    list-style: none;
    color: white;
}

nav
{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20px;  
    width: 100vw; 
    z-index: 100; 
}

#nav-menu
{
    display: flex;
    margin: 10px auto;
}

#nav-menu ul
{
    display: flex;
    flex-direction: row;  
    margin-bottom: 0;  
    padding-left: 0;
}

#nav-menu ul li
{
    margin-left: 25px;
    margin-right: 25px;
}

#nav-menu ul li a
{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

#logo
{
    font-size: 35px;
    margin-left: 35px;
    position: absolute;
}